<h1>Image Generator</h1>

<form method="post">

Prompt: <input type="text" placeholder="enter image params" name="prompt" required>

<select name="size" id="">
  <option value="256x256">Small</option>
  <option value="512x512">Medium</option>
  <option value="1024x1024">Large</option>
</select>

<input type="number" name="number" value="1">

<button type="submit">Submit</button>

</form>

{{!-- in case we have images: --}}
{{#if images}}

<div class="img-cont">
  {{#each images}}
  <img src="{{ this.url }}" alt="generated image" />
  {{/each}}
</div>

{{/if}}
{{!-- closing the if block with /if --}}